.filtersContainer{
  display: grid;
  grid-gap: 0.625rem;
  grid-template-columns: repeat(auto-fill, minmax(12rem, 1fr));
}
.accordDesktop{
  position: relative;
  margin: 0 !important;
}
.accordDesktopDetail{
  top: 100%;
  left: -0.0625rem;
  width: 22.9375rem;
  border: 1px solid #EDEDED;
  z-index: 1;
  position: absolute;
  background: #FFF;
  margin-top: 0.375rem;
  z-index: 5;
}
.accordMobDetail{
  position: relative;
}