.card {
    background-color: #e2e2e2;
    text-align: start;
    color: #212529;
    font-size: 14px;
    line-height: 18px;
  }
  .card h6 {
    font-size: 14px;
    line-height: 18px;
    margin: 0 0 15px;
    font-weight: bold;
    color: #939c9e;
  }
  .footer_menu li {
    margin: 5px 0 10px;
  }
  .footer_menu li a {
    text-decoration: none;
    color: #212529;
    text-transform: capitalize;
  }
  .footer_menu li a:hover {
    text-decoration: underline;
  }
  .footer_bottom {
    padding: 30px 0 0;
  }