
.product {
  display: grid;
  grid-gap: 20px;
  grid-template-columns: 1fr;
}

.gallery {
  overflow-x: auto;
  scroll-snap-type: x mandatory;
  display: flex;
}

.gallery img {
  scroll-snap-align: center;
  width: 100%;
  height: auto;
}

.productdetail {
  /* background-color: #f8f8f8; */
  /* padding: 20px; */
  border-radius: 10px;
  /* box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); */
}

.details>h2 {
  font-size: 23px;
  color: #777;
}

.sku {
  color: #777;
}

.price {
  font-size: 30px;
  font-weight: 900;
  color: #c96;
}

.pricestyle {
  text-decoration: none;
  color: #e63838;
}

.buttonWrapper {
  padding: 10px 0;
}

.buttonWrapper button {
  width: 100%;
  background-color: #e63838;
  color: #777;
  border: none;
  padding: 10px;
  cursor: pointer;
  border-radius: 4px;
}

.description {
  font-size: 15px;
  line-height: 1.5;
  color: #777;
}

.productdescription {
  margin: 20px 0;
}

.shortdescription {
  color: #777;
  font-size: 19px;
  line-height: 1.5;
}

.description p {
  margin-bottom: 20px;
}

.description ul,
.description ol {
  list-style-position: inside;
  color: #777;
}

.description ul {
  list-style-type: disc;
}

.description ol {
  list-style-type: decimal;
}

.description li {
  margin-bottom: 10px;
  margin-left: 6px;
}

.sliderContainer {
  position: relative;
  padding: 0 27px;
}

.slider {
  width: 80%;
  height: auto;
}

.slide {
  position: relative;
  cursor: pointer;
  transition: transform 0.3s ease; 
  margin-top: 15px;
  /* padding: 10px 10px 0 0; */
}
.hovered {
  transform: scale(1.1); 
}

.modalContent {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 9999;
  background-color: inherit;
  overflow: auto;
}

.closeIcon {
  position: inherit;
  top: 10px;
  right: 10px;
  color: white;
  cursor: pointer;
}

.modalImage {
  max-width: 90%;
  max-height: 90%;
  object-fit: contain;
  cursor: pointer;
}

.active {
  border: 1px solid black;
}

.customArrow {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background-color: #fbfbfc;
  color: #777;
  border: 1px solid #ddd;
  padding: 8px;
  border-radius: 50%;
  cursor: pointer;
  font-size: 18px;
}

.customArrowLeft {
  left: 0;
  z-index: 1;
}

.customArrowRight {
  right: 0;
}

.productname {
  color: #333;
  text-decoration: none;
  margin-top: 10px;
}

.productname:hover {
  text-decoration: underline;
  color: #c96;
}

.list {
  color: #777;
  text-decoration: none;
  display: flex;
  align-items: center;
}

.list:hover {
  color: #e63838;
}


/* .Paper:hover {
  border: #808080 1px solid;
} */

.button {
  background-color: transparent;
  color: #c96;
  border: solid 1px #c96;
  border-radius: 1px;
  width: 100%;
}

.button:hover {
  background-color: #c96;
  color: white;
}


.additem {
  /* background-color: #80808040; */
  /* border-radius: 10px; */
  border: none;
  width: 100%;
  color: #777;
}

.additem:hover{
  color: #c96;
  background: none;
}

.addlist {
  display: inline-block;
  vertical-align: middle;
  /* color: #fff; */
  font-size: 16px;
}

/* .addlist:hover {
  color: #1976d2;
} */

.icon {
  display: inline-block;
  vertical-align: middle;
  margin-right: 10px;
  color: #c96;
  /* color: white; */
}

.iconwishlisted {
  color: red;
}

.wishlisted{
  color: #c96;
}

.icon:hover {
  color: #e63838;
}

.modal {
  display: flex;
  align-items: center;
  justify-content: center;
}

.modalContent {
  max-width: 90%;
  max-height: 90%;
  overflow: hidden;
}


.review {
  font-size: 19px;
  text-decoration: none;
}

.review:hover {
  color: #1a538b;
}

.productContainer {
  position: relative;
}

.Paper {
  padding: 15px;
  margin-bottom: 15px;
}

.productContainer:hover .Paper {
  border: #c96 3px solid;
  border-radius: 10px;
}

.addToCartButton {
  bottom: 10px;
  opacity: 0;
  margin: 30px 0 0 0;
}

.productContainer:hover .addToCartButton {
  opacity: 1;
}

.information {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
  font-size: 19px;
}

.info {
  font-size: 19px;
  font-weight: 600;
  margin-right: 10px;
}

.ratings {
  display: flex;
  justify-content: center;
  background-color: #2d952d;
  width: 100%;
  color: white;
  border-radius: 7px;
  padding: 5px;
}

.lessThanThree{
  background-color: red;
}

.image{
  margin: 0 100px;
}


.linkContainer {
  position: relative;
  display: inline-block;
  margin-right: 20px;
}

.reviewBarContainer {
  position: absolute; 
  top: 100%; 
  left: 0;
  z-index: 999; 
  background-color: white;
  border: 1px solid #c96;
  padding: 10px; 
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2); 
  display: none; 
}

.linkContainer:hover .reviewBarContainer {
  display: block;
  width: 100%;
}


.header {
  display: flex;
  grid-gap: 6px;
  padding: 20px 0;
  align-items: center;
}

.backLink {
  padding: 0;
  border: 0 none;
  border-radius: 50%;
  width: 1.6em;
  height: 1.6em;
  background: #222;
  cursor: pointer;
  color: #fff;
  font-size: 1em;
  opacity: 0.15;
  position: relative;
  top: 2px;
  text-decoration: none;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 8px;
}

.backLink:hover {
  opacity: 1;
}


.information {
  margin-bottom: 20px;
}

.info {
  font-weight: bold;
  font-size: 15px;
}

/* styles.module.css */

.zoomContainer {
  overflow: hidden;
  position: relative;
}

.imageZoom {
  width: 100%;
  height: auto;
  max-width: 100%;
  max-height: auto;
  transition: transform 0.3s ease; /* Smooth transition for zoom effect */
}

.image:hover {
  transform: scale(1.2); /* Zoom in effect on hover */
}
