.product {
  display: grid;
  grid-gap: 20px;
  grid-template-columns: 1fr;
}

.gallery {
  overflow-x: auto;
  scroll-snap-type: x mandatory;
  display: flex;
}

.gallery img {
  scroll-snap-align: center;
  width: 100%;
  height: auto;
}

.details {
  display: grid;
  grid-gap: 16px;
  grid-auto-rows: max-content;
  padding: 0 10px;
}

.details > h2 {
  font-size: 23px;
}

.sku {
  color: #999;
}

.price{
  font-size: 30px;
  font-weight: 900;
}
.pricestyle{
  text-decoration: none;
}

.buttonWrapper {
  padding: 10px 0;
}

.buttonWrapper button {
  width: 100%;
}

.description {
  font-size: 14px;
  line-height: 1.5;
}

.description p {
  margin-bottom: 20px;
}

.description ul,
.description ol {
  list-style-position: inside;
}

.description ul {
  list-style-type: disc;
}

.description ol {
  list-style-type: decimal;
}

.description li {
  margin-bottom: 10px;
  margin-left: 6px;
}

/* Tablet */
@media (min-width: 600px) {
  .product {
    grid-template-columns: 1fr 1fr;
    grid-gap: 20px;
    align-items: center;
  }

  .gallery {
    overflow-x: auto;
    scroll-snap-type: unset;
    display: grid;
    grid-auto-rows: max-content;
    grid-gap: 10px;
  }

  .content {
    align-self: flex-start;
  }

  .detailsWrapper {
    position: sticky;
    top: 20px;
    min-height: 90vh;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

.sliderContainer {
  position: relative;
}

.slider {
  width: 100%;
  margin: 16px 0; 
}

.slide {
  display: flex;
  justify-content: center;
}

/* .image {
  width: 100%; 
  max-height: 100%; 
  object-fit: cover;
} */

.customArrow {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background-color: #fbfbfc;
  color: #0f0d0d; 
}

.customArrowLeft {
  left: 0;
  z-index: 1;
}

.customArrowRight {
  right: 0;
}

.productname{
  color: black;
  text-decoration: none;
  margin-top: 10px;
}

.productname:hover{
  text-decoration: underline;
}

.list{
  color: #0000009e;
  text-decoration: none;
  display: flex;
  align-items: center;
}

.list:hover{
  color: #e63838;
}

.icon{
  display: inline-block;
  vertical-align: middle;
}
.icon:hover{  
  color: #e63838;
}
.Paper:hover{
  border: #808080 1px solid;
}